# Copy to .env and edit paths/values for your environment
FILE_PATH=c:\Users\w\SSD\Code\dmpc-payroll-update\test\payroll-test.xlsx
SHEET_NAME=1
SHEET_RANGE=3,5
LOG_PATH=logs\payroll-update.log
TARGET_CELLS=B5,I11,G12,G13,G14,G15,G16,I41,G42,G43,G45,G46,G47
